/* Style du calendrier */

.days {
    background-color:#263238!important;
    color: #FFF;
}

.day-case {
    width: 100%!important;
    height: 75px!important;
    margin-right: 2px;
    margin-top: 2px;
    /* padding: 0px; */
}

.empty {
    background-color: #e0e0e0!important;
}

.even {
    font-weight: 700;
}

.current {
    background-color:#66bb6a!important;
}

.holiday {
    background-color:#ef5350!important;
}

a, a:hover {
    color: #000;
}
