/* Style du calendrier */

.days {
    background-color:#263238!important;
    color: #FFF;
}

.day-case {
    width: 100%!important;
    height: 75px!important;
    margin-right: 2px;
    margin-top: 2px;
    /* padding: 0px; */
}

.empty {
    background-color: #eeeeee!important;
}

.current {
    background-color:#a5d6a7!important;
}

.holiday {
    background-color:#ef9a9a!important;
}

.birthday {
    background-color: #ffcc80!important;
}

.normal {
    background-color: #fafafa;
}

a, a:hover {
    color: #000;
}
